@use "../ags-variables.scss" as *;

.app-list {
  // background-color: $backgroundColor;
  margin: 12px;
  padding: 16px;
}

.app-launcher-entry-title {
  font-weight: bold;
  color: $foregroundColor;
  font-size: large;
  margin-left: 6px;
}

.app-launcher-entry-description {
  font-style: oblique;
  color: $foregroundColor2;
  margin-left: 12px;
  font-size: small;
}

.app-launcher-window {
  border: 3px solid $highlightColor;
  background-color: $backgroundColor;
  border-radius: 12px;
}

.control-panel-box {
  margin: 10px;
  opacity: 0.7;
  padding: 16px;
  background-color: $backgroundColor2;
  //background-image: $wallpaperPath;
  border-radius: 10px;
}
