name: Code Quality Check

on:
  workflow_dispatch:
  push:
    paths:
      - "**.nix"
      - "flake.nix"
      - ".github/workflows/code-quality.yaml"

jobs:
  statix:
    name: Code Linting
    runs-on: ubuntu-latest
    timeout-minutes: 30
    # strategy:
    #   fail-fast: false
    concurrency:
      group: ${{ github.workflow }}-lint
      cancel-in-progress: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty
      # - name: Cache
      #   uses: DeterminateSystems/flakehub-cache-action@main
      - name: Linting
        run: |
          echo "# Statix Check" >> $GITHUB_STEP_SUMMARY
          echo "~~~console" >> $GITHUB_STEP_SUMMARY
          nix run nixpkgs#statix -- check | sed 's/\x1b\[[0-9;]*m//g' >> $GITHUB_STEP_SUMMARY || true
          echo "~~~" >> $GITHUB_STEP_SUMMARY
  deadnix:
    name: Dead Code Check
    runs-on: ubuntu-latest
    timeout-minutes: 30
    # strategy:
    #   fail-fast: false
    concurrency:
      group: ${{ github.workflow }}-dead
      cancel-in-progress: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty
      # - name: Cache
      #   uses: DeterminateSystems/flakehub-cache-action@main
      - name: Dead Code
        run: |
          echo "# Deadnix Check" >> $GITHUB_STEP_SUMMARY
          echo "~~~console" >> $GITHUB_STEP_SUMMARY
          nix run nixpkgs#deadnix | sed 's/\x1b\[[0-9;]*m//g' >> $GITHUB_STEP_SUMMARY
          echo "~~~" >> $GITHUB_STEP_SUMMARY
